/* Allgemeine Stildefinitionen f端r das Layout */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/* Stildefinitionen f端r das Login-Formular */
.login-input {
    margin-top: 1rem;
}

.login-btn {
    margin-top: 1rem;
}

/* Stildefinition f端r das Logo auf der Login-Seite */
.login-logo {
    width: 750px;
    display: block;
    margin: 0 auto;  /* Zentriert das Bild horizontal */
}

/* Stildefinitionen f端r das Dashboard-Logo in der Top-Navigationsleiste */
.navbar-logo {
    height: auto;
    width: 30%;
}

.logo-spacing {
    margin-left: 15px;
}

/* Suchleiste */
.navbar .form-control {
    max-width: 300px; /* Maximale Breite der Suchleiste */
}
