/* Allgemeine Stildefinitionen */

body {
    font-family: 'Arial', sans-serif;
}

/* Navbar Logo Anpassungen */

.nav-logo img {
    width: 60px; /* Maximale Breite für das Logo */
}

/* Weitere Stildefinitionen können hier hinzugefügt werden */

/* Login Formular Stil */
.login-btn {
    margin-top: mt-5; /* Dies entspricht der Bootstrap-Einheit mt-5 */
}