/* Allgemeine Stildefinitionen für das Layout */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/* Stildefinitionen für das Login-Formular */
.login-input {
    margin-top: 1rem;
}

.login-btn {
    margin-top: 1rem;
}

/* Stildefinition für das Logo auf der Login-Seite */
.login-logo {
    width: 750px;
    display: block;
    margin: 0 auto;  /* Zentriert das Bild horizontal */
}
