/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
}

.login-container {
    
    max-width: 400px;
    margin: 5rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.login-input {
    margin-top: 1rem; /* Abstand von 1rem über den Eingabefeldern */
}

.login-btn {
    margin-top: 3rem;
}
