{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brands on Steroids Dashboard</title>
    <!-- Lokale Bootstrap CSS Datei einbinden -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Logo -->
    <a class="navbar-brand nav-logo" href="/dashboard/">
        <img src="{% static 'images/BOS_logo_web_1c.png' %}" alt="Logo">
    </a>

   <!-- Searchbar -->
    <form class="search-form form-inline mx-auto">
        <input class="search-input form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="search-btn btn btn-outline-success" type="submit">Search</button>
    </form>

    <!-- Logout-Button -->
    <button class="btn btn-danger logout-btn" type="button">Logout</button>
</nav>

    <!-- Hauptinhalt des Dashboards -->
    <div class="container mt-5">
        <h1>Welcome to the Dashboard</h1>
        <!-- Hier können Sie zusätzliche Inhalte für Ihr Dashboard hinzufügen -->
    </div>

    <!-- Lokale Bootstrap JS Datei und Popper.js einbinden -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
